a {
  color: #002;
  text-decoration: none;
}

a:hover {
  color: #ececf7;
}

button {
  border: none;
  background-color: #ececf7;
  padding: 6px 36px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 3px 3px #939399;
  margin: 5px 5px;
}

button:hover {
  background-color: #939399;
  color: #ececf7;
  box-shadow: -1px -1px #939399;
}

img {
  width: 80%;
}

body {
  color: #002;
  background-image: url("images/Background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ECECF7;
  font-family: acumin-pro, sans-serif;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  font-variant: small-caps;
}

h3 {
  font-variant: small-caps;
}

p {
  font-size: 18px;
  line-height: 24px;
}

.center-container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%; 
  background: linear-gradient(180deg, #ECECF700 0%, #ECECF7 60%);
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}
.subpages {
  position:relative;
  left: 0%;
  right: 0%; 
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  
}
.buttons{
  margin: 5px 0px;
}

.main-title {
  font-weight: 200;
}

.row {
  /* padding: 10px; */
  margin: 0;
}

.footer {
  padding: 10px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
}