body {
    background-image: none;
}

p {
    margin: auto;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.artifact-card {
    background-color: #9A9A9A;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    height: 100%;
    text-align: left;
}

.center-container {
    background: none;
    text-align: center;
    position: relative;
    margin: 50px;
}

.access-link {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 70%; */
  }
