body {
    background-image: none;
}

/* button {
    background-color: #8f8f9b;
} */

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

p {
    margin: auto;
    margin-bottom: 6px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.artifact-row {
    margin: 16px;
}

.artifact-card {
    background-color: #8f8f9b;
    border-radius: 10px;
    padding: 12px;
    height: 100%;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 6px;
}

.center-container {
    background: none;
    text-align: center;
    position: relative;
    padding: 0px 20px;
    margin: 50px;
}

.access-link {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 70%; */
}
